*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,yellow,white,red);
    height: 100vh;
}

.container{
    width: 70%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-top: 5px;
}
input{
    width: 100%;
    margin: 16px;
    padding: 8px;
    border: 1px solid #000;
    font-size: 18px;
}

::placeholder{
    text-align: center;
}

label{
    font-weight: bold;
    padding: 16px;
}
.genderContainer{
    text-align: center;
    margin: 16px;
}
.gender1{
    width: 10%;
}

.btn{
    text-align: center;
    margin: 16px;
}
button{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(16,160,16);
    font-size: 18px;
    
}